/**********************************TAG SELECTORS***************************************/
body    {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif;
    width:100%;
}   

h1  {
    margin-top:50px auto 0 auto;
    font-family: 'Yellowtail', cursive;
    font-size: 5.65rem;
    color:#66BFBF;
    line-height:2;
}

h2  {
    color:#66BFBF;
    font-size: 3rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
}

h3  {
    font-size: 2rem;
}
h3, a {
    color: #11999E;
}

hr  {
    border:10px dotted #EAF6F6;
    width: 75px;
    border-bottom:none;
    margin:100px auto;
}






/**********************************CLASS SELECTORS***************************************/

.bottom-container   {
    background-color: #66BFBF;
    margin: 100px 0 0 0;
    padding-top:50px;
    position: relative;
}

.btn  {
    background-color: #11999E;
    color:aliceblue;
    display:block;
    height:40px;
    width:200px;
    margin:auto;
    text-decoration: none;
    padding-top:10px;
    border-radius: 10px;
}
.btn:hover  {
    background-color: #30e3cb ;
    color:#11999E;
    transition-duration: .15;
}
.copyright  {
    margin:0;
    color:aliceblue;
    padding:50px;
    font-size: .75rem;
}
.contact-me {
    margin-top:100px;
}

.footer-link    {
    text-decoration: none;
}

.links  {
    display: flex;
    justify-content: center;    
    gap:40px;
}
.top-container    {
    position: relative;
    padding-top:100px;
    background-color: #CFF5E7;
}

.bottom-cloud   {
    position:absolute;
    left:300px;
    bottom:300px;
}

.top-cloud  {
    position:absolute;
    right:300px;
    top:50px;
}

.pro    {
    font-weight:bold;
    text-decoration: underline;
}

.profile    {
    margin-top:100px;
}

.skill-row  {
    width:50%;
    margin: 100px auto;
    line-height: 2;
    text-align: left;
}

.skills1    {
    width: 25%;
    float:left;
    margin-right: 30px;
}

.skills2    {
    width:25%;
    float:right;
    margin-left: 30px;
}

.sub-head-main  {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
}

.myself {
    height:200px;
    width:200px;
    border-radius: 100%;
}
